{% extends 'appblog/base.html' %}
{% block content %}
    <!--Profile Update Form--> 
    <div class="content-section"> 
        <form class="login-form" method="POST">
            <h1> Delete Post</h1>
            {% csrf_token %}
                <table class="table-primary">
                  <h2> Are you sure want to delete post "{{ object.title }}" </h2> 
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>  
            </table>
        </form>
    </div> 
{% endblock content %}
